on init
# Logger
    start boot_log
    start boot_log_crash
    start boot_log_kernel

on late-init
# Logger
    start boot_log
    start boot_log_crash
    start boot_log_kernel

on early-boot
# Logger
    start boot_log
    start boot_log_crash
    start boot_log_kernel

on boot
# Logger
# Use /cache instead of /data (cache is usually unencrypted)
service boot_log /system/bin/logcat -b all -D -f /cache/boot_log_full.txt
    class main
    user root
    group root system
    oneshot

service boot_log_crash /system/bin/logcat -b crash -D -f /cache/boot_log_crash.txt  
    class main
    user root
    group root system
    oneshot

service boot_log_kernel /system/bin/logcat -b kernel -D -f /cache/boot_log_kernel.txt
    class main
    user root
    group root system
    oneshot

on property:sys.boot_completed=1
    stop boot_log
    stop boot_log_crash
    stop boot_log_kernel





