/dev/block/by-name/miscdata       0660     system      system
/dev/block/by-name/persist       0660     system      system
/dev/block/by-name/sysdumpdb        0660     system     system

# USB devices
/sys/devices/platform/soc/*.usb*                   root       root       0640
/sys/class/android_usb/android0/*                  root       root       0644
/sys/class/typec/port0/*                           root       root       0644
/dev/block/platform/soc/*.usb*                     root       root       0640