on early-init
    symlink /init system/bin/init
    symlink /bin system/bin
    symlink /etc system/etc
    symlink /lib system/lib  
    symlink /lib64 system/lib64

/dev/block/by-name/miscdata       0660     system      system
/dev/block/by-name/persist       0660     system      system
/dev/block/by-name/sysdumpdb        0660     system     system
