# -------------------------------------------------
# USB FUNCTION-FS SETUP FOR ADB (Unisoc ffs-umc)
# -------------------------------------------------
on early-init
    mkdir /dev/usb-ffs 0770 shell shell
    mkdir /dev/usb-ffs/adb 0770 shell shell
    mount functionfs adb /dev/usb-ffs/adb uid=2000,gid=2000

    # Set default USB controller (adjust if your /sys/class/udc shows another)
    setprop sys.usb.controller ffs-umc
    setprop sys.usb.configfs 1
    setprop sys.usb.config adb
    setprop sys.usb.ffs.ready 1

on property:sys.usb.config=adb
    mkdir /config/usb_gadget/g1 0755 shell shell
    write /config/usb_gadget/g1/idVendor 0x18D1
    write /config/usb_gadget/g1/idProduct 0x4EE0
    mkdir /config/usb_gadget/g1/functions/ffs.adb
    mkdir /config/usb_gadget/g1/configs/b.1
    symlink /config/usb_gadget/g1/functions/ffs.adb /config/usb_gadget/g1/configs/b.1/f1
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    setprop sys.usb.state adb
