import /init.recovery.common.rc
import /init.recovery.usb.rc

# -------------------------------------------------
# EARLY INIT
# -------------------------------------------------
on early-init
    start ueventd
    mkdir /system
    mkdir /vendor
    mkdir /product
    mkdir /system_ext
    mkdir /sdcard 0775 system system
    mkdir /tmp 0770 system system

# -------------------------------------------------
# FILESYSTEMS
# -------------------------------------------------
on fs
    mount_all /etc/recovery.fstab

# -------------------------------------------------
# KERNEL MODULES
# -------------------------------------------------
on boot
    insmod /lib/modules/sprd-ion.ko
    insmod /lib/modules/sprd-dma.ko
    insmod /lib/modules/trusty.ko
    insmod /lib/modules/ufs-sprd_qogirl6.ko

# -------------------------------------------------
# ADB SERVICE
# -------------------------------------------------
on property:sys.usb.config=adb
    setprop sys.usb.state adb
    start adbd

service adbd /sbin/adbd.recovery --root_seclabel=u:r:adbd:s0 --device_banner=recovery
    class core
    socket adbd stream 660 system system
    disabled
    oneshot
    seclabel u:r:adbd:s0

# -------------------------------------------------
# FASTBOOTD SERVICE
# -------------------------------------------------
on property:sys.recovery.reboot_into_fastbootd=1
    start fastbootd

service fastbootd /system/bin/fastbootd
    class main
    disabled
    oneshot
    seclabel u:r:fastbootd:s0

# -------------------------------------------------
# MAIN RECOVERY PROCESS
# -------------------------------------------------
service recovery /system/bin/recovery
    class main
    user root
    group root system
    seclabel u:r:recovery:s0
