import /init.recovery.common.rc
import /init.recovery.usb.rc

on init
    start adbd


on early-init
    start ueventd
    mkdir /system
    mkdir /vendor
    mkdir /product
    mkdir /system_ext

on init
    symlink /system/bin /bin
    symlink /system/etc /etc
    mkdir /sdcard 0775 system system
    mkdir /tmp 0770 system system

on fs
    mount_all /etc/recovery.fstab

on boot
    insmod /lib/modules/sprd-ion.ko
    insmod /lib/modules/sprd-dma.ko
    insmod /lib/modules/trusty.ko
    insmod /lib/modules/ufs-sprd_qogirl6.ko

service recovery /system/bin/recovery
    class main
    user root
    group root system
    seclabel u:r:recovery:s0
